.container_Nosotros{
    height: 80vh;
    overflow: hidden;
}

.img_container_nosotros{
    height: 80vh; 
    background-size: cover;
    background-position: center;
}

.cielo{
    position: relative;
    z-index: -3;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(http://desarrollo.pazred.com.co/wp-content/uploads/2019/07/cielo.png);
}

.montains{
    position: relative;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -35em; 
    background-image: url(http://desarrollo.pazred.com.co/wp-content/uploads/2019/07/Montains.png);
    transition:  3s;
}

.niebla{
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh;
    background: grey;
    margin-top: -45em;
    opacity: 0.5;
}

.container_section_title_nosotros{
    z-index: 2;
    position: relative;
    margin-top: -50%;
}

.container_section_title_nosotros{
    margin-bottom: 10%;
}

.mountainsChange{
	transform: translateY(3in);
	-webkit-transition:  3s; /* For Safari 3.1 to 6.0 */
	transition:  3s;
	
}


.card_nosotros{
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom-style: solid;
}

@media screen and (max-width: 1173px) {
	.container_Nosotros {
	  display:none;
    }
    .container_section_title_nosotros{
        margin-top: 0%;
    }
}

@media screen and (max-height: 700px) {
	.container_Nosotros {
        display:none;
    }
    .container_section_title_nosotros{
        margin-top: 0%;
    } 
}
